numpy==1.26.4
tensorflow==2.15.0
librosa==0.10.1
fastapi==0.73.0
uvicorn[standard]
websockets
keras==2.15
pathlib==1.0.1
python-multipart==0.0.7
opencv-python
numpy
pandas
opencv-python
gensim[gensim-4.3.2,cuda]
pydantic


# for chatbot
langchain
langchain-community
torch
accelerate
transformers
ctransformers
sentence_transformers
streamlit
streamlit_chat
faiss-cpu
altair
tiktoken
huggingface-hub
pypdf